html
	head
		title Home
	body
		h1 Tarefas de Ces 26


		h2 Tarefa 4: Exemplo de GET
		form(action='/t4', method='GET')
			input(name="isGet", type ="text")
			input(type='submit', value='submit')
		h2 Tarefa 4: Exemplo de POST
		form(action='/t4', method='POST')
			input(name="isPost", type ="text")
			input(type='submit', value='submit')